{% extends 'base.html' %}
{% block title %}
    Update
{% endblock title %}
{% block body %}

<div class="container">
  <h2>Update ToDo</h2>
  <form action="/update/{{todo.sno}}" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">ToDo Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        value="{{todo.title}}"
        id="title"
      />
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">ToDo Desc</label>
      <input
        type="text"
        class="form-control"
        id="desc"
        value="{{todo.desc}}"
        name="desc"
      />
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>

{% endblock body %}
